
.navbar{
  background-color: black;
  height: 62px;
  width: 100%;
  margin-bottom:0px;
}
.navLogo{
  float: left;
  height: 52px;
  width: 120px;
  padding-left: : 35px;
  padding-top: 5px;
}
.navbar h1{
  color: #f2f2f2;
  text-align: center;
  padding:16px;
  text-decoration: none;
  font-size: 22px;
  padding-top: 20px
}
h1{
  text-align: center;
  font-family: sans-serif;

}
#loginForm{
  padding: 10px;
  align-content: center;
  border: 3px solid;
  border-radius: 18px;
}
#loginForm h1{
  text-align: center;
}
